<%- include ./partials/header %>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="text-center">Room Transaction</h1>
          </div>
            <div class="panel-body">
                  <div class="container">
                        <p>RoomID: <%= roomID %></p>
                        <p>User: <%= user %></p>
                        <p>Event: <%= event %></p>
                        <p>Tx Hash: <%= txHash %></p>
                        <p>Block Number: <%= blockNum %></p>
                        <a href="/">Return to Rooms Page</a>
                  </div>
            </div> 
      </div>
<%- include ./partials/footer %>